@use "./styles/imports/components";
@use "./styles/imports/container";
@use "./styles/imports/generic";
@use "./styles/imports/settings";
@use "./styles/imports/tools";

body {
  background-image: url("https://cdn.pixabay.com/photo/2022/02/13/14/50/space-7011298_1280.jpg");
  background-position: center;
}

.bg-shadow {
  background-color: #00000091;
  min-height: 100vh;
}

.default-size {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}
